main{
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.information {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: 2px solid red; */
    /* height: 100%;
    width: 100%; */
}
  .top-info{
    display: flex;
    width: 100%; 
  
}
.top-info > .img-cont{
    height: 100vh;
    width: 55%;
    background-image: url("./images/desktop/image-transform.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom-info{
    display: flex;
    width: 100%; 
}
.bottom-info > .img-cont{
    height: 100vh;
    width: 55%;
    background-image: url("./images/desktop/image-stand-out.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-text{
    padding: 40px;
    margin-top:10px;
    width: 50%;
}
.top-text > h1{
    font-size: 64px;
    font-weight: 700;
    width:70%;
    /* height:40% ; */

}  
.top-text > p{
    font-size: 18px;
    font-weight: 500;
    width:65% ;
    line-height: 30px;
}
.top-text > h4 >{
    font-size: 18px;
    font-weight: 900;
    /* gap: 10px; */
}
.bottom-text{
    padding: 40px 40px;
    width: 49%;
}
.bottom-text >h2{
    font-size: 64px;
    font-weight: 700;
    /* width: 80%; */
}
.bottom-text >p{
    font-size: 18px;
    font-weight: 500;
    width: 63%;
    line-height: 30px;
    
}
@media screen and (max-width: 480px){
.information{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.top-info{
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
} 
.bottom-info{
    width: 100%;
    display: flex;
    flex-direction: column;
} 
.bottom-info > .img-cont{
    width: 100%;
}
.top-info > .img-cont{
    width: 100%;
}
 
} 
.top-text > h1{
    width: 100%;
}
.top-text > p{
    width: 100%;
}
.bottom-text > h2{
    width: 100%;
}
.bottom-text > p{
    width: 100%;
}



